:root {
    --primary-color: #34CB79;
    --title-color: #322153;
    --text-color: #6C6C80;
}

#root {
    height: 100vh;
    overflow: auto;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text{
    color: var(--text-color);
}

.title{
    color: var(--title-color);
}

.accent-text{
    color: var(--primary-color);
}

.result-item{
    margin-bottom: 16px;
}